<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://test.database3500.scsite.net:3500/jiaxuan_huaguo"/>
                <property name="username" value="souche_rw"/>
                <property name="password" value="Ewm3prj6WRcwbv4x"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="top.fuyuaaa.mybatis.MiniAppUserDao"/>
    </mappers>
</configuration>